@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 56.25%;
  }
}

#root {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  max-width: 180rem;
}

.card {
  width: 40rem;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid #333;
  margin: 2rem;
  position: relative;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 700px) {
  .card {
    width: 35rem;
  }
}
@media only screen and (max-width: 400px) {
  .card {
    width: 27.5rem;
  }
}
@media only screen and (max-width: 300px) {
  .card {
    width: 25rem;
  }
}
.card__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
  text-transform: uppercase;
  width: 80%;
}
.card__name {
  font-weight: 300;
  font-size: 3.5rem;
  letter-spacing: 1.2px;
  text-align: center;
}
.card__symbol {
  font-weight: 500;
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.card__image {
  width: 35%;
  margin-bottom: 1.5rem;
}
.card__price {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
}
.card__market-cap, .card__volume {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  background-color: #333;
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 1rem 5rem;
  width: 100vw;
}
@media only screen and (max-width: 700px) {
  .nav {
    padding: 1rem 3rem;
  }
}
@media only screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
    height: 12rem;
    justify-content: space-around;
  }
}
.nav__logo {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
}
.nav__search-label {
  display: none;
}
.nav__search {
  outline: none;
  border: 2px solid transparent;
  padding: 1rem 1.2rem;
  border-radius: 0.3rem;
  width: 50rem;
  font-size: 1.6rem;
}
@media only screen and (max-width: 900px) {
  .nav__search {
    width: 40rem;
  }
}
@media only screen and (max-width: 700px) {
  .nav__search {
    width: 35rem;
  }
}
@media only screen and (max-width: 600px) {
  .nav__search {
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  .nav__search {
    width: 27.5rem;
  }
}
@media only screen and (max-width: 300px) {
  .nav__search {
    width: 25rem;
  }
}
.nav__search:focus {
  border: 2px solid #fd9002;
}
.nav__search::placeholder {
  color: #444;
}

.empty {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3rem;
}
@media only screen and (max-width: 600px) {
  .empty {
    text-align: center;
    width: 80%;
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #333;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=index.css.map */
